
body {
    overflow: hidden;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.game {
    width: 50%;
    height: 75%;
    background-color: lightskyblue;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem;
}

.cell {
    border: 1px solid black;
    font-size: 5rem;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover{
    cursor: pointer;
}

.disabled {
    cursor: not-allowed !important;
}


.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}