body {
    width: 100vw;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 50%;
    height: 50%;
}


.hidden {
    display: none;
}

.X:after {
    content: '❌';
    font-size: 4rem;
}

.O:after {
    content: '⭕️';
    font-size: 4rem;
}

.cell:disabled:hover {
    cursor: not-allowed;
}

.cell:not(:disabled):hover {
    cursor: pointer
}

h1, h2 {
    margin-bottom: -5%;
}