body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.todo {
    background-color: orange;
    border-radius: 1rem;
    width: 35%;
    text-align: center;
    padding: 1rem;
}

#add-button {
    height: 2rem;
    border-radius: .25rem;
}

#todo-input {
    height: 2rem;
    width: 45%;
    border-radius: .25rem;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    padding: 1.2rem .8rem;
    border-radius: .5rem;
    color: white;
    background-color: darkslategray;
    font-size: 1.25rem;
}

li button {
    border-radius: 50%;
}