* {
    font-size: 1rem;
}
button {
    font-family: 'Roboto', sans-serif;
}

span {
    display: block;
}

.like-button {
    color: grey;
    background-color: white;
    border-radius: 1.5rem;
    border: 2px solid grey;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 6rem;
    padding: .5rem;
    box-shadow: 0 .1rem rgba(216, 216,216, .8), 0 .25rem rgba(216, 216,216, .4);
}

.like-button:not(.active):hover {
    color: #a11f1f;
    border-color: #a11f1f;
    box-shadow: 0 .1rem  rgba(161, 31, 31, .25), 0 .25rem  rgba(161, 31, 31, .1);
}

.like-button:active {
    color: white;
    background-color: #a11f1f;
    box-shadow: 0 0;
}

.active {
    color: white;
    background-color: #a11f1f;
    box-shadow: 0 0;
    border-color: #a11f1f;
}

.loading {
    display: none;
    border: 2px solid white;
    border-top: 2px solid #a11f1f;
    border-radius: 50%;
    width: .85rem;
    height: .85rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}